# Database files
*.db
*.sqlite
*.sqlite3

# env
.env

# Ignore all CSV files
*.csv

# Quarto specific files
/.quarto/
/_site/
/_book/
/_freeze/

# R specific
.Rproj.user
.lktuan.github.io.Rproj
.Rprofile
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
.quarto

# Python specific
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# OS specific
.DS_Store
Thumbs.db